<div class="container">
      <div class="row">
  
	<div class="col-sm-4">

   <form (ngSubmit)="addcategory()" #addform="ngForm">
      
       
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="_cat_name" 
        name="_cat_name" 
        class="form-control" id="catname"
         required #catname="ngModel">
      </div>
       
      <button type="submit" class="btn btn-default form-control" [disabled]="!addform.form.valid" >Submit</button>
    </form>
	</div>
      </div>
</div>
