
<!--	<div class="col-sm-3">


<ul class="list-group">
  <li class="list-group-item"><a routerLink="/allCategory">Category</a></li>
  <li class="list-group-item"><a routerLink="/allReview">Review</a></li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
	</div>-->

<div id="wrapper" class="active">
      
      <!-- Sidebar -->
            <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu</a></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">     

          <li><a routerLink="/allBook">Book</a></li>
          <li><a routerLink="/allCategory">Category</a></li>
          <li><a routerLink="/allSubcategory">Sub Category</a></li>
          <li><a routerLink="/allReview">Review</a></li>
          <li><a routerLink="/allPac">Package</a></li>
          <li><a routerLink="/allDonate">Donate</a></li>
          <li><a routerLink="/allSuggestion">Suggestion</a></li>
          <li><a routerLink="/allFine">Fine</a></li>
          <li><a routerLink="/allTran">Trans</a></li>
      <!--     <li><a routerLink="/allCity">City</a></li>-->
          <li><a routerLink="/allState">State</a></li>
          <li><a routerLink="/allUser">User</a></li>

        </ul>
      </div>
          
      <!-- Page content -->
      
    </div>