<div class="container">
      <div class="row">
  <app-header-model></app-header-model>
	<div class="col-sm-4">

   <form (ngSubmit)="addcity()" #addform="ngForm">
      
        
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="_city_name" 
        name="_city_name" 
        class="form-control" id="cityname"
         required #cityname="ngModel">
      </div>

      <div class="form-group">
        <label for="name">State Id</label>
        <input type="text" [(ngModel)]="_fk_state_id" 
        name="_fk_state_id" 
        class="form-control" id="fkstateid"
         required #stateid="ngModel">
      </div>
       
      <button type="submit" class="btn btn-default form-control" [disabled]="!addform.form.valid" >Submit</button>
    </form>
	</div>
      </div>
</div>
