<div class="container">

    <nav class="navbar navbar-inverse">



<div class="col-md-4 col-md-offset-5">
  
              <div style="font-size:30px ; color: white; margin-top: 10px;">
               <span  class="glyphicon glyphicon-text-width" aria-hidden="true"></span>
              </div>
          </div>



          <div class="col-md-4 col-md-offset-6">
            <h2 style="color:white; margin-top: -40px; margin-left: -53px;">Transaction Table</h2>


          </div>

          <div class="col-md-4 col-md-offset-6">

 <!--<div style="margin-top: -40px; margin-left: 350px;">
       <input #input1 type="text" (keyup)="0" 
      placeholder="Search"/>
 </div>-->

          </div>

   </nav>
<div class="row">
          <div class="col-md-12 col-md-offset-0">
<div class="agile-grids">	
				<!-- tables -->
				
				<div class="agile-tables">
					<div class="w3l-table-info">

<table class="table">
  <thead>
<th></th>   
    <th style="font-size: 18px ; font-style: inherit;">   Or date   </th>
    <th style="font-size: 18px ; font-style: inherit;">Return date</th>
    <th style="font-size: 18px ; font-style: inherit;">Book name</th>
    <th style="font-size: 18px ; font-style: inherit;">User </th>
    <th></th>   
  </thead>
<tr *ngFor="let item of allTrans">
 <td><input type="checkbox" ></td>
  <td>  {{item.trans_or_date}}  </td>
   <td>  {{item.trans_r_date}}  </td>
    <td>  {{item.book_name}} </td>
    <td>  {{item.user_name}}  </td>
    <td>
            <button (click)='deleteTrans(item)' type="button"  aria-label="Left Align">
                           Done
               </button>
    </td>
</tr>
</table>
					</div>
				</div>
</div>
</div>

    </div>


